.fus-yellow {
  background-color: #ffc658; }

.fus-light-blue {
  background-color: #8e9fbc; }

.fus-dark-blue {
  background-color: #1f2a44; }

.fus-green {
  background-color: #21412a; }

.fus-gold {
  background-color: #998643; }

.block-center {
  display: block;
  margin: 0 auto; }

/* Fix for Chrome bug */
.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 0 0 0 rgba(0, 0, 0, 0);
}

/* Make base font sizes larger*/
@media only screen and (min-width: 0) {
  html {
    font-size: 16px; } }
@media only screen and (min-width: 992px) {
  html {
    font-size: 16.5px; } }
@media only screen and (min-width: 1200px) {
  html {
    font-size: 17px; } }

h1, h2, h3, h4, h5 {
  font-family: 'Cinzel', serif; }

@media screen and (max-width: 400px) {
  h2 {
    font-size: 48px;
  }
  h4 {
    font-size: 32px;
  }
}

iframe {
  border: none;
}

.wide-container {
  width: 90% !important; }

.sub-heading {
  display: block;
  font-size: 26px;
  padding-bottom: 16px;}

.btn, .btn-large {
  background-color: #8e1b21;
}

.btn:hover, .btn-large:hover, .btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color: rgba(142, 27, 33, 0.91);
}

.btn-inverted {
  border: solid 2px #000;
  background-color: transparent;
  color: #000; }
  .btn-inverted:hover, .btn-inverted:focus {
    border: solid 2px #000;
    background-color: #000;
    color: #fff; }

.btn-inverted-white {
  border: solid 2px #fff;
  background-color: transparent;
  color: #fff; }
  .btn-inverted-white:hover, .btn-inverted-white:focus {
    border: solid 2px #fff;
    background-color: #fff;
    color: #000; }


.responsive-img {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

#news .tabs .tab a:hover, #news .tabs .tab a.active {
  color: #8e1b21;
  font-weight: 400;}

#news .tabs .indicator {
  background-color: #998643;
  height: 2px;}

.tabs .tab a:hover, .tabs .tab a.active {
  font-weight: 500; }

.tabs .indicator {
  background-color: #998643;
  height: 3px;}

table.responsive-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  position: relative;
  /* sort out borders */ }
  table.responsive-table td:empty:before {
    content: '\00a0'; }
  table.responsive-table th,
  table.responsive-table td {
    margin: 0;
    vertical-align: top; }
  table.responsive-table th {
    text-align: left; }
  table.responsive-table thead {
    display: block;
    float: left; }
    table.responsive-table thead tr {
      display: block;
      padding: 0 10px 0 0; }
      table.responsive-table thead tr th::before {
        content: "\00a0"; }
  table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap; }
    table.responsive-table tbody tr {
      display: inline-block;
      vertical-align: top; }
  table.responsive-table th {
    display: block;
    text-align: right; }
  table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: left; }
  table.responsive-table tr {
    padding: 0 10px; }
  table.responsive-table thead {
    border: 0;
    border-right: 1px solid #d0d0d0; }

.card-content {
  color: rgba(0, 0, 0, 0.85); }

.card-title {
  color: #8e1b21; }

body {
  background-color: #fafafa;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

main {
  flex: 1 0 auto;
  min-height: 100vh; }

nav {
  height: 83px;
  background-color: transparent; }
  @media screen and (max-width: 992px), screen and (max-height: 500px) {
    nav {
      margin-bottom: 0;
      background-color: #000;
      height: 102px;
      background-image: url("../img/monstrance-2000w-op.jpg");
      background-size: 30vw;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: 46%;
      border-bottom: 4px solid #8e1b21; } }

  nav .fus-branding {
    position: absolute;
    top: -16px;
    left: 16px;
    font-family: 'Cinzel', serif;
    font-size: 20px;}
    @media screen and (max-width: 992px), screen and (max-height: 500px) {
      nav .fus-branding {
        top: -18px;
        left: 8px;
        font-size: 14px;} }
    @media screen and (max-width: 600px) {
      .fus-branding {
        display: none;
      }}

  nav .button-collapse {
    margin-left: 16px;
    margin-top: 23px;
    color: #fff;
    padding: 8px; }
  nav .brand-logo {
    margin-left: 64px;
    margin-top: 30px; }
    @media screen and (max-width: 992px) {
      nav .brand-logo {
        margin-left: 0; } }
    @media screen and (max-width: 992px), screen and (max-height: 500px) {
      nav .brand-logo {
        margin-top: 24px; } }
    nav .brand-logo img {
      height: 130px; }


.interior {
  margin-bottom: 0; }
  .interior nav {
    background-color: #000;
    height: 102px;
    background-image: url("../img/monstrance-2000w-op.jpg");
    background-size: 30vw;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 46%; }
    @media screen and (max-width: 992px) {
      .interior nav {
        border-bottom: 4px solid #8e1b21; } }
    @media screen and (max-width: 450px) {
      .interior nav {
        background-position-y: 16%;
      }
    }
    .interior nav .fus-branding {
      position: absolute;
      top: -20px;
      left: 16px;
      font-family: 'Cinzel', serif; }
      @media screen and (max-width: 600px), screen and (max-height: 500px) {
        .interior nav .fus-branding {
          top: -18px; } }
    .interior nav .brand-logo {
      margin-top: 24px; }
      .interior nav .brand-logo img {
        height: 70px; }

.side-nav {
  max-width: 85%;
  z-index: 998; }
  .side-nav .brand-logo {
    margin-left: 0; }
  .side-nav .logo {
    height: 110px; }
    .side-nav .logo a {
      padding: 10px 10px 0px 10px;
      width: 100%; }
      .side-nav .logo a:hover {
        background-color: #fff; }
    .side-nav .logo img {
      width: 100%;
      height: auto; }
  .side-nav .search {
    margin: 0 8px; }
    .side-nav .search input {
      margin-left: 8px;
      margin-right: 8px;
      border: none;
      outline: none;
      box-shadow: none;
      width: 100%;
      display: block;
      height: 45px; }
      .side-nav .search input:focus {
        border-bottom: none;
        box-shadow: none; }
  .side-nav .search-icon svg {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 27px;
    fill: #21412a; }
  .side-nav li {
    line-height: 48px;
    margin-top: 0; }
  .side-nav .collapsible-body li a {
    padding: 0 23.5px 0 44px;
    font-weight: 400; }

.bottom-nav, .secondary-nav {
  text-align: center;
  background-color: #8e1b21;
  padding: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .bottom-nav ul, .secondary-nav ul {
    display: inline-block;
    margin: 5px 0; }
    .bottom-nav ul li, .secondary-nav ul li {
      float: left;
      line-height: 8px;
      padding: 4px 0 0 0; }
      .bottom-nav ul li a, .secondary-nav ul li a {
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Cinzel', serif;
        cursor: pointer;
        padding: 4px 12px 7px 12px;
        line-height: 16px;
        transition: .3s ease-in-out;
      }

      .bottom-nav ul li a:hover, .secondary-nav ul li a:hover {
        background-color: hsla(357, 68%, 28%, 1);
      }

@media screen and (max-width: 600px) {
  .section .valign-wrapper {
    flex-direction: column; } }

@media screen and (max-width: 600px) {
  .section .valign-wrapper .order-1 {
    order: 1; } }

@media screen and (max-width: 600px) {
  .section .valign-wrapper .order-2 {
    order: 2; } }

@media screen and (min-width: 993px) {
  #san-damiano {
    background-image: url("../img/san-damiano.gif");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: 7%;
    background-position-y: 33%;
   }
}

.white-background-flourish {
  background-image: url("../img/motif1.png"), url("../img/motif1-reverse.png");
  background-repeat: no-repeat;
  background-position: -10% 50%, 111% 50%; }

.red-background-flourish {
  background-color: #a61f26;
  background-image: url("../img/motif2.png"), url("../img/motif2-reverse.png");
  background-repeat: repeat-y;
  background-position: 0% 50%, 100% 50%; }

#courses h2 {
  font-size: 48px; }

#courses h3 {
  font-size: 32px; }

#events h2 {
  font-size: 48px; }

#resources .card-content svg {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: #998643; }

#resources .card-content span {
  display: block;
  color: rgba(0, 0, 0, 0.87); }

#resources .card-content p {
  color: rgba(0, 0, 0, 0.87); }

#resources .card-content .resource-name {
  color: #8e1b21;
  font-size: 18px;
  font-weight: 400; }

#team .team-card-container {
  width: 95% !important; }
  #team .team-card-container .section .title-row {
    cursor: pointer;
    margin-bottom: 0; }
    #team .team-card-container .section .title-row h2 {
      font-size: 32px; }
      #team .team-card-container .section .title-row h2 svg {
        width: 35px;
        height: 23px;
        transition: transform .25s; }
  #team .team-card-container .section .row:not(.title-row) {
    display: none; }
  #team .team-card-container .section.open .row {
    display: block; }
    #team .team-card-container .section.open .row svg {
      transform: rotate(90deg); }

/*#courses div.open>.col:not(h3) {
  display: block;
}

#courses div.open>*:not(h3) {
  display: block;
}*/


.horizontal {
  max-height: 100px;
  cursor: pointer; }
  .horizontal .card-content {
    padding: 8px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/motif1-reverse.png");
    background-repeat: no-repeat;
    background-position: 250% 25%;
    max-height: 100px; }
    .horizontal .card-content span {
      display: block; }
    .horizontal .card-content .team-card-name {
      font-size: 18px;
      color: #8e1b21;
      font-weight: 400; }

.scroll-to-top {
  position: fixed;
  bottom: 0;
  margin-left: 8px;
  width: 75px; }
  .scroll-to-top i {
    color: #fff;
    font-size: 48px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
    width: 48px;
    transform: rotate(90deg); }

.scroll-to-top.slide-out {
  transform: translateY(200%);
  transition: transform 500ms ease-in-out; }

.scroll-to-top.slide-in {
  transform: translateY(0);
  transition: transform 500ms ease-in-out; }

.preloader-wrapper.big {
  margin: 50px auto;
  display: block; }

@media screen and (max-width: 992px) {
  .material-tooltip {
    visibility: hidden; } }

.modal.bottom-sheet {
  max-height: 80%; }

.fixed-action-btn {
  visibility: hidden; }

.preloader-wrapper.big .spinner-blue {
  border-color: #1f2a44; }

.preloader-wrapper.big .spinner-yellow {
  border-color: #8e9fbc; }

.preloader-wrapper.big .spinner-red {
  border-color: #21412a; }

.preloader-wrapper.big .spinner-green {
  border-color: #ffc658; }

footer.page-footer {
  margin-top: 0px;
  padding-top: 20px;
  background-color: #8e1b21; }

footer.page-footer .row {
  margin-bottom: 0px;
  margin-top: 10px; }

.footer-copyright a {
  margin-right: 10px; }

footer {
  margin-top: 0px;
  padding-top: 0px; }
  footer .row {
    margin-bottom: 0px;
    margin-top: 10px; }
  footer a {
    color: #fff; }

.social a svg {
  fill: #fff;
  width: 42px; }

.footer-copyright a {
  margin-right: 10px; }

label {
  color: #fff;
}

.input-field label {
  color: #fff;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #fff;
}

.select-wrapper span.caret {
  color: #fff;
}

#single-event h2 {
  font-size: 44px;
}
#single-event h3 {
  font-size: 40px;
}

#single-event ul {
  padding-left: 30px;
}

ul li {
  list-style-type: disc;
}

.dropdown-content li > span {
  color: #a61f26;
}

.select-wrapper::before {
  content: " \25bc ";
  color: #fff;
  position: relative;
  right: 2px;
  top: 29px;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  font-size: 10px;
  line-height: 10px;
  float: right;
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
  border: 2px solid #fff;
}

.content-section a {
  color: #fff;
  font-weight: 500;
}

.card-reveal p {
  margin: 8px 0;
}

/* JWPlayer styles */
/*#A9Xg4ve3 {
  width: 100% !important;
  height: auto !important;
}

#A9Xg4ve3.jwplayer .jw-aspect {
  display: block;
  padding-top: 56.25%;
}

#A9Xg4ve3.jwplayer .jw-title {
  display: none;
}*/
